<!DOCTYPE html>


{% extends "base.html" %}

{% block content %}


<div class="result">
  <a href="{% url 'home' %}"><h2>home</h2></a>
	<a href="{% url 'thegame' %}"><h2>game</h2></a>
</div>

<h1 class="fw-light">Results</h1>
          {% if res %}          
          <table class="table table-hover mt-5">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">User</th>
                <th scope="col">User Move</th>
                <th scope="col">Bot Move</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
                {% for i in res %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i.player.name}}</td>
                <td>{{i.user_move}}</td>
                <td>{{i.bot_move}}</td>
                <td>{{i.status}}</td>
              </tr>
              {% endfor %}
            </tbody>
			{% else %}
          	<h4 class="fw-light">There's no result, play a game</h4>
          	{% endif %}


{% endblock %}
</html>







