<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Rock Paper Scissors Game</title>
	<style>
		

		h2 {
			font-size: 5em;
			text-align: top;
			text-align: center;
			
		}

		.container {
			width: 80%;
			margin: 0 auto;
			text-align: center;
		}

	</style>
</head>
<body>
	<div class="container">
		<h1>Welcome TO</h1>
		<h1>Rock Paper Scissors</h1>
		<p>ENTER YOUR NAME BELOW</p>
		
	</div>


	{% comment %} THIS IS A FORM THAT IS LABEL NAME AND GIVE THEM A PLACE HOLDER TO ENTER THEIR NAME {% endcomment %}
    {% comment %} {% csrf_token %} IS A SECRET CODE IN DJANGO THAT PROTECT FORMS FROM HACKERS = details that goes in the form is safe {% endcomment %}  
	<form action='' method='post'>
			
          {% csrf_token %}   
          <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" placeholder='Enter Your Name'>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

		{% comment %} THIS IS A MESSAGE ALERT ON THE HTML INDEX PAGES {% endcomment %}
		{% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
	

		
</body>
</html>