 {% extends "base.html" %}

{% block content %} 

<!DOCTYPE html>
<html>
<head>
	<title>Rock Paper Scissors</title>
</head>
<body>
	<header>
		<h1>Rock Paper Scissors</h1>
	</header>
	<h1 class="fw-light">Hello {{user}}</h1>

	<form action='' method='post'>

		{% csrf_token %} 

		<button type="submit" value="rock" name="name">Rock</button>
		<button type="submit" value="paper" name="name">Paper</button>
		<button type="submit" value="scissors" name="name">Scissors</button>
		
	</form>	

	{% if messages %}
          {% for message in messages %}
          <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
              {{ message }}
          </div>
          {% endfor %}
          {% endif %}

	
	<a href="{% url 'new' %}"><h2>Result</h2></a>
			



      
</body>
</html>
 {% endblock %} 